# Miscellaneous
aclocal.m4
aminclude.am
autom4te.cache
build-aux
config.cache
config.log
config.status
configure
**/.deps
**/.dirstamp
**/Makefile
**/Makefile.in

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
test/gbt
*.exe
*.out
*.app

# Test artifacts
test-suite.log
test/*.log
test/*.trs
